hnlLastStopCellInfo = '(
                           ( "S130" "nmos" "auCdl" "109" "1619790507" )
                          ( "S130" "cm4m5" "auCdl" "87" "1619790507" )
                          ( "S130" "rpoly" "auCdl" "89" "1619790507" )
                          ( "S130" "nmos" "auCdl" "109" "1619790507" )
                          ( "S130" "nmos" "auCdl" "109" "1619790507" )
                          ( "S130" "nmos" "auCdl" "109" "1619790507" )
                          ( "S130" "rpoly" "auCdl" "89" "1619790507" )
                          ( "S130" "nmos_lvt" "auCdl" "110" "1619790507" )
                          ( "S130" "rpoly" "auCdl" "89" "1619790507" )
                          ( "S130" "rpoly" "auCdl" "89" "1619790507" )
                       )
hnlLastMaxNameLength = 60
hnlLastNamePrefix = "hnl_"
hnlLastNetNamePrefix = "N"
hnlLastInstNamePrefix = ""
hnlLastModelNamePrefix = ""
hnlLastGlobalNetPrefix = "G"
hnlLastModulePrefix = "sub"
hnlLastHierarchyDelimiter = "."
hnlLastMapNetFirstChar = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            "0"
                            "1"
                            "2"
                            "3"
                            "4"
                            "5"
                            "6"
                            "7"
                            "8"
                            "9"
                            ":"
                            ";"
                            "="
                          )
hnlLastMapNetInName = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            ":"
                            ";"
                            "="
                          )
hnlLastMapInstFirstChar = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            "0"
                            "1"
                            "2"
                            "3"
                            "4"
                            "5"
                            "6"
                            "7"
                            "8"
                            "9"
                            ":"
                            ";"
                            "="
                          )
hnlLastMapInstInName = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            ":"
                            ";"
                            "="
                          )
hnlLastInstNameDifferentFrom = '( )
hnlLastModelNameDifferentFrom = '( )
hnlLastNetNameDifferentFrom = '( )
hnlLastTermNameDifferentFrom = '( )
hnlLastParamNameDifferentFrom = '( )
hnlLastLibInfo = '(
                    ( "RX_Frontend" "1677890126" )
                  )
hnlLastDesignVars = '( )
